* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background: #191919;
	color: white;
	font-family: sans-serif;
	padding-top: 70px;
}

header {
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	background: #242424;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: fixed;
	top: 0;
	z-index: 5;
	border-bottom: 1px solid #555;
}

h1 {
	text-transform: uppercase;
	font-size: 3rem;
}

h1 span {
	text-transform: lowercase;
	font-size: 2rem;
	font-weight: normal;
	color: #444;
	margin-left: 5px;
}

.total-money {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
}

.non-cash {
	margin-left: 30px;
}

.main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.btn {
	width: fit-content;
	padding: 10px;
	background: #333;
	font-size: 1.6rem;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px #222;
	transition: all 0.2s ease;
}

.btn + .btn {
	margin-left: 20px;
}

.btn:hover {
	transform: scale(0.9);
}

.main {
	margin-top: 10px;
}

.controls {
	width: 100%;
	display: flex;
	align-items: center;
	background: #242424;
	padding: 10px;
}

.content {
	width: 100%;
	padding: 10px;
}

.content ul {
	width: 100%;
}

.content ul li {
	font-size: 2rem;
	list-style: none;
	width: 100%;
	display: block;
	padding: 10px;
	background: #242424;
	border-radius: 5px;
	position: relative;
	border-bottom: 0.5px solid #555;
}

.content ul li + li {
	margin-top: 5px;
}

li .fa-money-bill-alt,
li .fa-credit-card {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

li .fa-plus,
li .fa-minus {
	font-size: 1.2rem;
	margin-right: 10px;
}

.date {
	margin-right: 30px;
	position: relative;
	font-size: 1.8rem;
}

.date::after {
	content: '';
	height: 43px;
	width: 5px;
	background: #191919;
	position: absolute;
	right: -15px;
	top: -12px;
}

.add-popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	transition: all 0.3s ease;
	opacity: 0;
	z-index: -10;
	background: rgba(25, 25, 25, 0.9);
}

.add-popup form {
	background: white;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	border-radius: 20px;
	padding: 50px;
	padding-top: 80px;
	color: black;
	font-size: 1.8rem;
	transition: all 0.5s ease-out;
}

.add-popup form input[type=radio] {
	display: none;
}

#addRadio + label {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 35px;
	background: #888;
	color: #aaa;
	transition: all 0.1s ease;
	margin-left: -65px;
	font-size: 2.5rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 20px;
}

#subRadio + label {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 35px;
	background: #888;
	color: #aaa;
	transition: all 0.1s ease;
	margin-right: 10px;
	font-size: 2.5rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 20px;
}

#addRadio:checked + label {
	background: #57a825;
	color: white;
}

#subRadio:checked + label {
	background: #d9141c;
	color: white;
}

.add-popup input[type=number] {
	width: 200px;
	font-size: 2rem;
	padding: 5px;
	outline: none;
	box-shadow: 0 0 10px 5px #ccc;
	border: none;
	border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

::placeholder {
	color: #ccc;
}

.add-popup form select {
	padding: 5px;
	width: 200px;
	font-size: 1.8rem;
	box-shadow: 0 0 10px 5px #ccc;
	border: none;
	margin-top: 30px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.add-popup input[type=submit] {
	width: fit-content;
	padding: 10px;
	border: none;
	background: #57a825;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 30px;
	transition: all 0.2s ease;
	cursor: pointer;
	box-shadow: 0 0 10px 5px #ccc;
}

.add-popup .btn {
	color: white;
	background: #e39439;
	box-shadow: 0 0 10px 5px #ccc;
	margin-top: 30px;
}

.add-popup input[type=submit]:hover {
	transform: scale(0.9);
}

.tag-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	flex-wrap: wrap;
	width: 330px;
	margin-top: 30px;
	height: 140px;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s;
}

.tag-menu.not-active {
	height: 0;
	margin-top: 0;
}

.tag {
	width: 80px;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.tag div {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-out;
	box-shadow: 0 0 8px 3px #ccc;
}

.tag:not(.tag-ico) div:hover {
	transform: scale(0.9);
	box-shadow: none;
}

.tag p {
	color: black;
	font-size: 1.2rem;
}

.tag:nth-of-type(1) div {
	background: #e0b802;
}

.tag:nth-of-type(2) div {
	background: #b740c7;
}

.tag:nth-of-type(3) div {
	background: #404dc7;
}

.tag:nth-of-type(4) div {
	background: #d62951;
}

.tag:nth-of-type(5) div {
	background: #2dc5e3;
}

.tag:nth-of-type(6) div {
	background: #e3762d;
}

.tag:nth-of-type(7) div {
	background: #41cc29;
}

.tag:nth-of-type(8) div {
	background: #1a3678;
}

.tag.active div {
	transform: scale(0.9);
	box-shadow: none;
	border: 3px solid red;
}

.tag.tag-ico div {
	box-shadow: none;
	margin: 0 auto;
	width: 33px;
	height: 33px;
	font-size: 1.8rem;
	background: none;
}

.tag.tag-ico {
	display: inline-block;
	height: 40px;
	position: absolute;
	right: 40px;
	cursor: auto;
	bottom: -2px;
}

.tag.tag-ico p {
	display: none;
}

.del-popup {
	background: rgba(25, 25, 25, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease;
	opacity: 0;
	z-index: -10;
}

.del-popup > div:not(.close) {
	width: 400px;
	min-height: 200px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	padding: 20px;
	color: black;
	position: relative;
}

.del-popup p {
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	color: #191919;
}

.del-popup .buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: white;
}

.del-popup .btn {
	box-shadow: none;
}

.del-popup .btn i {
	margin-right: 10px;
}

.del-popup .yes {
	background: #57a825;
}

.del-popup .no {
	background: #d9141c;
}

.preloader {
	width: 100vw;
	height: 100vh;
	background: #191919;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 110;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s 0.5s;
}

.preloader div {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #C70039;
	position: relative;
	animation: rotate 1.2s infinite linear;
	transition: 0.3s;
}

.preloader div::before {
	content: '';
	display: block;
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #4FDE16;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	animation: rotate 1.1s infinite linear;
}

.preloader div::after {
	content: '';
	display: block;
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #14B4F5;
	position: absolute;
	top: 25px;
	bottom: 25px;
	left: 25px;
	right: 25px;
	animation: rotate 1s infinite linear;
}

.close {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: white;
	color: #d9141c;
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 2px 2px #ccc;
	cursor: pointer;
	z-index: 10;
	transition: all 0.2s ease;
}

.close:hover {
	transform: scale(0.9);
	box-shadow: none;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media(max-width: 610px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		height: 90px;
		padding: 10px;
	}

	body {
		padding-top: 90px;
	}
} 

@media(max-width: 550px) {
	.add-popup form {
		width: 360px;
	}
}

@media(max-width: 460px) {
	html {
		font-size: 9px;
	}

	.del-popup > div {
		width: 270px;
	}

	.add-popup form {
		height: 200px;
		min-height: 0;
		width: 290px;
		padding: 20px;
	}

	.add-popup input[type=number] {
	    width: 120px;
	}

	.add-popup form select {
		width: 120px;
		margin-top: 20px;
	}

	.add-popup input[type=submit] {
		margin-top: 20px;
	}
}